# python generated
.idea
.DS_Store
__pycache__
venv

# WIP: Dockerfile and it's requirements file
Dockerfile
lib/docker_requirements.txt

# WIP: Contacts to call or message
contacts.yml

# File IO operations
fileio

# Log files
logs

# training directory with images of faces for recognition
train

# Storage for images of intruders
threat

# .keep files for Alarms and Reminders
alarm
reminder

# sphinx docs builder within doc_generator
_build
_static

# credentials stored locally
.env

# volume exec file for Windows
SetVol.exe

# robinhood report file generated to be accessed from API endpoint
api/robinhood.html

# temporary file that indicates that jarvis should restart
pyicloud_error

# future work
temp.py
test.py
test_voices.py

# pypi package files
jarvis_ironman.egg-info