# python generated
.idea
.DS_Store
__pycache__
venv

# training directory with images of faces for recognition
train

# WIP: Dockerfile and it's requirements file
Dockerfile
lib/docker_requirements.txt

# Unknown words will be saved for later review
training_data.yaml

# to-do items stored in a database
tasks.db

# Notes saved when asked to Jarvis
notes.txt

# WIP: Contacts to call or message
contacts.yml

# Log files
*.log

# Storage for images of intruders
threat

# Storage for location details to reuse
location.yaml

# .keep files for Alarms and Reminders
alarm
reminder

# sphinx docs builder within doc_generator
_build
_static

# file where meetings() data is written every 15 minutes
meetings

# credentials stored locally
.env

# temporary files that will created when an offline request is received
offline_request
offline_response

# automation setup
automation.json

# robinhood report file generated to be accessed from API endpoint
api/robinhood.html

# temporary file that indicates that jarvis should restart
pyicloud_error

# temporary file created and accessed during quick restart, may also be the source file
smart_devices.yaml

# future work
temp.py
test.py

# pypi package files
jarvis_ironman.egg-info