# python generated
.idea
.DS_Store
__pycache__
venv

# module generated
did.bin

# WIP: Dockerfile and it's requirements file
Dockerfile
docker_requirements.txt

# File IO operations
fileio

# Log files
logs

# Recordings
recordings

# training directory with images of faces for recognition
train

# Storage for images of intruders
threat

# .keep files for Alarms and Reminders
alarm
reminder

# sphinx docs builder within doc_generator
_build
_static

# credentials stored locally
.env

# volume exec file for Windows
SetVol.exe

# audio converter for Telegram API (Windows)
ffmpeg

# future work
temp_*.py

# pypi package files
dist
jarvis_ironman.egg-info

# Create package
package.py
package.zip
