<table width="480" align="center" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td width="100%">
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td>
                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%;max-width:600px" align="center">
                  <tbody>
                    <tr>
                      <td style="padding:0px 0px;color:#000000;text-align:left" bgcolor="#ffffff" width="100%" align="left">
                        <table border="0" cellpadding="0" cellspacing="0" width="480" style="table-layout:fixed">
                          <tbody>
                            <tr>
                              <td style="padding:18px 32px;line-height:22px;text-align:inherit" height="100%" valign="top">
                                <div>
                                  <br>A recent request on {{ ENDPOINT }} with your email address was flagged by Jarvis API.<br>
                                    Please use this code to complete verification.<br>If this wasn't you, please use the contact link below to report immediately.<br>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table align="center">
                          <tbody>
                            <tr align="center">
                              <td align="center" style="padding:10px 80px;border:1px solid;background-color:#f5f5f5">
                                <div style="background-color:#f5f5f5;font-family:'Helvetica Neue',arial;font-size:32px">
                                  {{ TOKEN }}
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout:fixed">
                          <tbody>
                            <tr>
                              <td style="padding:18px 32px;line-height:22px;text-align:inherit" height="100%" valign="top" bgcolor=""> This code will expire after {{ TIMEOUT }}.<br>
                                <br>This security feature helps ensure only '{{ EMAIL }}' can access {{ ENDPOINT }} endpoint.
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div style="color:#444444;font-size:12px;line-height:20px;padding:16px 16px 16px 16px;text-align:center">
                          <div style="font-family:'Helvetica Neue';font-size:12px;line-height:20px;margin-bottom:10px"> SOURCE CODE: <a href="https://github.com/thevickypedia/Jarvis" target="_bottom">https://github.com/thevickypedia/Jarvis</a>
                            <br> REACH OUT: <a href="https://vigneshrao.com/contact" target="_bottom">https://vigneshrao.com/contact</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>