<table width="480" align="center" border="1px" bgcolor="lightgray">
    <tbody>
    <tr>
        <td width="100%">
            <table border="0" cellpadding="0" cellspacing="0" width="480" style="table-layout:fixed">
                <thead>
                <tr>
                    <td style="text-align:center">
                        <div style="height: 100px">
                            <br>
                            <h1>Message from {{ SENDER }}</h1><br><br><br>
                        </div>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td height="100px"><h2>&nbsp;&nbsp;&nbsp;&nbsp; {{ MESSAGE }} </h2><br>
                    </td>
                </tr>
                </tbody>
            </table>
    </tr>
    </tbody>
</table>
<div style="color:#444444;font-size:12px;line-height:20px;padding:16px 16px 16px 16px;text-align:center">
    <div style="font-family:'Helvetica Neue';font-size:12px;line-height:20px;margin-bottom:10px">
        Source code: <a href="https://github.com/thevickypedia/Jarvis" target="_bottom">https://github.com/thevickypedia/Jarvis</a>
        <br> Communicate: <a href="https://vigneshrao.com/jarvisoffline" target="_bottom">https://vigneshrao.com/jarvisoffline</a>
        <br> Reach out: <a href="https://vigneshrao.com/contact" target="_bottom">https://vigneshrao.com/contact</a>
    </div>
</div>
