<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Robinhood Portfolio</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!-- Disables 404 for favicon.ico which is a logo on top of the webpage tab -->
    <link rel="shortcut icon" href="#">
    <!-- jQuery CDN - Google -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- jQuery CDN - Microsoft -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <!-- CSS and JS for night mode -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/thevickypedia/open-source/main/nightmode/night.js" defer></script>
    <link rel="stylesheet" href="https://rawgit.com/thevickypedia/open-source/main/nightmode/night.css">
  </head>
  <style>
    body {
      font-family: 'PT Serif', serif;
    }
    .tab {
      margin-left: 40px;
    }
    p.center {
      text-align: center;
    }
    div {
      height: 1em;
    }
    .dotted {
      border-bottom: 3px dotted #757575;
      margin-bottom: 1px;
    }
    .cent {
      margin-top: 1%;
      text-align: center;
      font-size: 120%;
    }
  </style>
  <body translate="no">
    <div class="toggler fa fa-moon-o"></div>
    <p class="center">{{ TITLE }}</p>
    <p class="tab">
      <span style="white-space: pre-line">{{ SUMMARY }}</span>
    </p>
    <div class="dotted"></div>
    <div class="cent">Profit</div>
    <div class="dotted"></div>
    <p class="tab">
      <span style="white-space: pre-line">{{ PROFIT }}</span>
    </p>
    <div class="dotted"></div>
    <div class="cent">Loss</div>
    <div class="dotted"></div>
    <p class="tab">
      <span style="white-space: pre-line">{{ LOSS }}</span>
    </p>
    <div class="dotted"></div>
    <div class="cent">Watchlist</div>
    <div class="dotted"></div>
    <p class="tab">
      <span style="white-space: pre-line">{{ WATCHLIST_UP }}</span>
    </p>
    <p class="tab">
      <span style="white-space: pre-line">{{ WATCHLIST_DOWN }}</span>
    </p>
    <br>
    <br>
  </body>
</html>
