# third party pypi modules from well known sources
wave==0.0.*
pytz==2023.3.*
geopy==2.4.*
PyYAML==6.0.*
inflect==7.0.*
openai==0.28.*
fastapi==0.103.*
uvicorn==0.23.*
aiofiles==23.2.*
python-multipart==0.0.*
pydantic==2.4.*
pydantic-settings==2.0.*
psutil==5.9.*
pytest==7.4.*
bs4==0.0.*
Pillow==10.0.*
numpy==1.26.*
websockets==11.0.*
PyJWT==2.8.*
matplotlib==3.8.*
lxml==4.9.*
aiohttp==3.8.*
requests==2.31.*
Jinja2==3.1.*
certifi==2023.7.*
SoundFile==0.12.*
deepdiff==6.6.*
docker==6.1.*
python-dateutil==2.8.*
