# third party pypi modules tested and version locked
SpeechRecognition==3.8.1  # Do not upgrade, no functional improvements in the latest version
wave==0.0.2
wikipedia==1.4.0
newsapi-python==0.2.7
pyrh==2.0  # Do not upgrade, as the new version doesn't have the option for QR
pytz==2023.3
timezonefinder==6.2.0
pyicloud==1.0.0
geopy==2.3.0
PyYAML==6.0.1
axju-jokes==1.0.3
inflect==7.0.0
pywebostv==0.8.9
speedtest-cli==2.1.3
holidays==0.30
randfacts==0.20.2
openai==0.27.8
fastapi==0.95.1  # Upgrades pydantic
uvicorn==0.22.0  # Upgrades pydantic
aiofiles==23.2.1
python-multipart==0.0.6
pydantic[email]==1.10.7  # Major code change, hold
icalendar==5.0.7
Jinja2==3.1.2
certifi==2023.7.22
googlehomepush==0.1.0
PyChromecast==2.3.0  # Do not upgrade, as googlehomepush module relies on this version
psutil==5.9.5
pytest==7.4.0
bs4==0.0.1
Pillow==10.0.0
packaging==23.1
numpy==1.25.2
SoundFile==0.12.1
deepdiff==6.3.1
pymyq==3.1.6
docker==6.1.3
websockets==11.0.3
PyJWT==2.8.0
webull==0.6.1
matplotlib==3.7.2
lxml==4.9.3
aiohttp==3.8.5
python-dateutil==2.8.2
requests==2.31.0
sounddevice==0.4.6
